<div id="breakSheetHolderNoComm" class="pagebreak" style="margin: 10px">
    <table id="title-row1">
        <tr class="bottomBorder">
            <td id="title" class="largeFont">
                Daily Break Schedule
            </td>

            <td class="mediumFont center bottom" style="padding-right: 10%;">
                Weekly Goal/Focus: <span id="focus"></span>
            </td>

            <td id="date" class="largeFont right">
                Saturday 3/3
            </td>
        </tr>
    </table>

    <table id="title-row2">
        <tr class="bottomBorder">
            <td class="mediumFont">
                Location: <span id="store">T1061</span>
            </td>

            <td class="mediumFont center">
                T:X indicates X training due soon
            </td>

            <td class="mediumFont center">
                <span style="font-weight: bold;">C</span> indicates TM is closing
            </td>

            <td class="mediumFont right">
                Total TMs: <span id="total-tms">9</span>
            </td>
        </tr>
    </table>

    <table id="title-row3">
        <tr>
            <td class="mediumFont">
                Notes:<span id="notes"></span>
            </td>
            <td class="mediumFont right">
                Closing TMs: <span id="closing-tms">?</span>
            </td>
        </tr>
    </table>

    <table id="breakTable" style="margin-left: 1%;">
                
        <tr id="header-row">
            <th class="dataFont left solidBackground topBorder">
                TM Name
            </th>

            <th class="dataFont center solidBackground topBorder">
                Job
            </th>

            <th class="dataFont center solidBackground topBorder">
                Schedule
            </th>

            <th class="dataFont center solidBackground topBorder">
                1st Break
            </th>

            <th class="dataFont center solidBackground topBorder">
                Meal
            </th>

            <th class="dataFont center solidBackground topBorder">
                2nd Break
            </th>

            <th class="dataFont right solidBackground topBorder">
                Hours
            </th>
        </tr>

        <tr id="data-row" class="noWrap">
            <td id="name" class="left dataFont paddingRight allBorders">
                Las, FirstName (####) T:#
            </td>

            <td id="job" class="center dataFont allBorders">
                S&E TL
            </td>

            <td id="schedule" class="center dataFont allBorders">
                07:00 AM - 03:30 PM
            </td>

            <td id="break1" class="center dataFont allBorders">
                09:00 AM
            </td>

            <td id="break2" class="center dataFont allBorders">
                11:00 AM
            </td>

            <td id="break3" class="center dataFont allBorders">
                01:00 PM
            </td>

            <td id="hours" class="right dataFont allBorders">
                8.5
            </td>

            <td id="closing-flag" class="left dataFont">
                *
            </td>

        </tr>                                                

    </table>
</div>