<form id="tree-template"><ul style="padding-left: 0%;margin-top: 0px;">
  <li>
    <input type="checkbox" class="checkbox"><span class="caret caret-down" id="label">All Areas</span>
    <ul class="nested active" id="rollup-department-branch">
      <li id="rollup-department"><input type="checkbox" class="checkbox"><span class="caret" id="label">Rollup Department</span>
        <ul class="nested" id="department-branch">
          <li id="department"><input type="checkbox" class="checkbox"><span class="caret" id="label">Department</span>
            <ul class="nested" id="job-branch">
              <li id="job"><input type="checkbox" class="checkbox"><span id="label">Job</span></li>              
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul></form>